p {
  color:DarkMagenta;  
  font-style:italic;
  text-align:center;
}
body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} 